**/__pycache__/
*.pyc

.env
.ipynb_checkpoints/
__pycache__/
client_secrets.json
inhouse_game_data/
outputs/
settings.yml

config/bot.cfg
config/inhouse.cfg

user_data/intel_list.txt
user_data/guest_list.txt
user_data/idmapping.json
user_data/rolepref.json
user_data/smurfs.json